{% extends 'base.html.twig' %}

{% block title %}Voila ton film{% endblock %}
{% block body %}
{% set hours = (details.runtime // 60) %}
{% set minutes = (details.runtime % 60) %}

<div class="container movie-layout">

    {# bloc titre  #}
    <div class="row movie-title-container">
        <div class="col-7">
            <div class="row movie-title">{{ details.original_title }}</div>
            <div class="row movie-subtitle">
                {{ details.release_date | date('Y') }} ·
                {{ details.production_countries.0.name }} ·
                {{ details.genres.0.name }} ·
                {{ '%2dh%02d'|format(hours, minutes) }}
            </div>
        </div>
        <div class="col-5 movie-account-button">
            <a href="#" class="a-right-mood">DEJA VU</a>
            <a href="#" class="a-right-mood">AJOUTER A MA WATCHLIST</a>
        </div>
    </div>
    {# bloc titre #}

    {# bloc content #}
    <div class="row border">
        <div class="col-4 poster-movie border">
                <img
                  src="https://image.tmdb.org/t/p/w500{{ details.poster_path }}"
                  alt="{{ details.original_title }}"
                  class="img-movie img-fluid border"
                />
        </div>
        <div class="col-8 user-movie border">
            <div class="row border">
                <div class="progress-circle-container border" data-score="{{ (details.vote_average * 10)|round }}">
                    <svg class="circle-container" viewBox="0 0 100 100">
                        <circle class="background-circle" cx="50%" cy="50%" r="40%" />
                        <circle class="progress" cx="50%" cy="50%" r="40%" />
                    </svg>
                    <div class="score-label">{{ (details.vote_average * 10)|round }}%</div>
                </div>               
            </div>
            <div class="row movie-real border">
                <span class="movie-real-name">Réalisateur</span>
            </div>
        </div>
    </div>
    {# bloc content #}

</div>
    
{% endblock %}