{% extends 'base.html.twig' %}

{% block title %}Voila ton film{% endblock %}
{% block body %}
{% set hours = (movie.runtime // 60) %}
{% set minutes = (movie.runtime % 60) %}

<div class="container movie-layout">

    {# bloc titre  #}
    <div class="row movie-title-container">
        <div class="col-8">
            <div class="row movie-title">{{ movie.titles.title }}</div>
        </div>
        <div class="col-4 movie-account-button">
            <a href="#" class="a-right-mood">DEJA VU</a>
            <a href="#" class="a-right-mood">AJOUTER A MA WATCHLIST</a>
        </div>
    </div>
    {# bloc titre #}

    {# bloc subtitle #}
        <div class="row movie-subtitle border">
            {{ movie.releaseDate | date('Y') }} &nbsp;·&nbsp;
            {{ movie.originCountries.0 }} &nbsp;·&nbsp;
            {% for genre in movie.genres %}
                {{ genre }}{% if not loop.last %}/{% endif %}
            {% endfor %} &nbsp;·&nbsp;
            {{ '%2dh%02d'|format(hours, minutes) }}
        </div>
    {# bloc subtitle #}

    {# bloc content #}
    <div class="row border">
        {# bloc affiche film #}
        <div class="col-3 poster-movie border">
                <img
                  src="https://image.tmdb.org/t/p/w500{{ movie.posterPath }}"
                  alt="{{ movie.titles.original_title }}"
                  class="img-movie img-fluid"
                />
        </div>
        {# bloc affiche film #}
        
        {# bloc note #}
        <div class="col-6 border movie-note-container">
            {# bloc circle_note and real #}
            <div class="row border mb-2">
                {# bloc circle_note #}
                    <div class="col-3 progress-circle-container border" data-score="{{ (movie.voteAverage * 10)|round }}">
                        <svg class="circle-container" viewBox="0 0 100 100">
                            <circle class="background-circle" cx="50%" cy="50%" r="40%" />
                            <circle class="progress" cx="50%" cy="50%" r="40%" />
                        </svg>
                        <div class="score-label">{{ (movie.voteAverage * 10)|round }}%</div>
                    </div>
                {# bloc circle_note #}
                {# bloc real #}
                    <div class="col-9">
                        <div class="movie-real border">
                            <span class="movie-real">Réalisateur :</span>
                        </div>
                        <div class="movie-real-name border">
                            {% for director in movie.directors %}
                                {{ director.name }}{% if not loop.last %}-{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {# bloc real #}
            </div>
            {# bloc circle_note and real #}

            {# bloc synopsis #}
            {% if movie.overview %}
                <div class="mb-3">
                    <div class="row movie-real border">
                        <span class="movie-real">Synopsis :</span>
                    </div>
                    <div class="row movie-real-name border">
                        {{ movie.overview }}
                    </div>
                </div>
            {% endif %}
            {# bloc synopsis #}

            {# bloc providers #}
            {% if movie.providers.FR is defined or movie.providers.US is defined %}
                <div class="mb-3">
                    {% if movie.providers.FR is defined %}
                        <div class="row movie-real border">
                            <span class="movie-real">Plateformes : {% if movie.providers.FR.Sub is defined and movie.providers.FR.Sub is not empty %}<i>abonnement français</i>{% else %}<i>Pas de bol, y'a que de la VOD en France</i>{% endif %}</span>
                        </div>
                        <div class="row movie-real-providers border">
                            {% if movie.providers.FR.Sub is defined and movie.providers.FR.Sub is not empty %}
                                <div class="d-flex gap-2">
                                    {% for provider in movie.providers.FR.Sub %}
                                        <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                                            <img class="rounded-circle me-1" width="24" height="24" src="https://image.tmdb.org/t/p/w500{{ provider.logo_path }}" alt="">{{ provider.provider_name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% elseif movie.providers.FR.Paid is defined and movie.providers.FR.Paid is not empty %}
                                <div class="d-flex flex-wrap gap-2">
                                    {% for provider in movie.providers.FR.Paid %}
                                        <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                                            <img class="rounded-circle me-1" width="24" height="24" src="https://image.tmdb.org/t/p/w500{{ provider.logo_path }}" alt="">{{ provider.provider_name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% elseif movie.providers.US is defined %}
                        <div class="row movie-real border">
                            <span class="movie-real">Plateformes : {% if movie.providers.US.Sub is defined and movie.providers.US.Sub is not empty %}<i>abonnement US</i>{% else %}<i>Pas de bol, y'a que de la VOD aux US</i>{% endif %}</span>
                        </div>
                        <div class="row movie-real-providers border">
                            {% if movie.providers.US.Sub is defined and movie.providers.US.Sub is not empty %}
                                <div class="d-flex gap-2">
                                    {% for provider in movie.providers.US.Sub %}
                                        <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                                            <img class="rounded-circle me-1" width="24" height="24" src="https://image.tmdb.org/t/p/w500{{ provider.logo_path }}" alt="">{{ provider.provider_name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% elseif movie.providers.US.Paid is defined and movie.providers.US.Paid is not empty %}
                                <div class="d-flex gap-2">
                                    {% for provider in movie.providers.US.Paid %}
                                        <span class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                                            <img class="rounded-circle me-1" width="24" height="24" src="https://image.tmdb.org/t/p/w500{{ provider.logo_path }}" alt="">{{ provider.provider_name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {# bloc providers #}

            {# bloc cast #}
            {% if movie.actors is defined and movie.actors is not empty %}
                <div class="mb-5">
                    <div class="row movie-real border">
                        <span class="movie-real">Acteurs :</span>
                    </div>
                    <div class="row actors-container border">
                        <div class="d-flex flex-wrap gap-2">
                            {% for actor in movie.actors %}
                                <input type="button" value="{{ actor.name }}" class="btn movie-real-actors"disabled>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {# bloc cast #}
        </div>
        {# bloc note #}

        {# bloc videos #}
        <div class="col-3 movie-videos border">
            <div class="movie-videos border">
                <div class="col-12">
                    <h3 class="movie-real">Bande annonce :</h3>
                    {% if movie.videos is defined and movie.videos is not empty %}
                        <div id="main-video-player" class="video-container mb-2">
                            <iframe
                                    width="100%"
                                    height="180"
                                    src="https://www.youtube.com/embed/{{ movie.videos.0.key }}"
                                    title="{{ movie.videos.0.name }}"
                                    frameborder="0"
                                    allowfullscreen
                                    id="yt-main-iframe"
                            ></iframe>
                        </div>
                        {% if movie.videos|length > 1 %}
                            <div class="row g-2" id="video-thumbnails">
                                {% for video in movie.videos %}
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <img
                                            src="https://img.youtube.com/vi/{{ video.key }}/mqdefault.jpg"
                                            alt="{{ video.name }}"
                                            class="video-thumb img-fluid border"
                                            style="cursor: pointer; display: block; width: 100%; height: auto;"
                                            data-key="{{ video.key }}"
                                            data-title="{{ video.name }}"
                                        />
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p>Aucune bande annonce disponible.</p>
                    {% endif %}
                </div>
            </div>
        {# bloc videos #}
    </div>
    {# bloc content #}

    {# bloc button #}
    <div class="row button-bot-container justify-center border">
        <div class="col-5 movie-account-button d-flex justify-content-between">
            <a href="{{ path('movie') }}" class="a-left-risk flex-grow-1 text-center text-nowrap" id="find-movie-btn">TROUVE MOI UN NOUVEAU FILM</a>
            <a href="#" class="a-right-mood flex-grow-1 text-center text-nowrap">J'AI CHANGé DE MOOD</a>
        </div>
    </div>
    {# bloc button #}

</div>

{% endblock %}